.background-image {
  position: fixed;      
  top: 50%;             
  left: 50%;            
  width: 600px;        
  height: 400px;    
  background-image: url('https://www.diariodasaude.com.br/news/imgs/010130171208-o-que-significa-natureza.jpg');     
  opacity: 0.2;
  background-position: center;
  transform: translate(-50%, -50%) rotate(-10deg); 
  z-index: -1;          
}
.content {
  min-height: 150vh;
}

